<% provide(:title,'About us')%>
<div class="center ">

<h1>About us</h1>
<p>we are brandeis students , this project was part of jbs course for more information contact us to know alot  about us </p>
<%= link_to image_tag("avishik.png",alt: "Communiy Tracker"),"#"%>

<%= link_to image_tag("fatima.png",alt: "Communiy Tracker"),"#" %>
</div>