<% provide(:title,'About us')%>
<h1>About us</h1>
<p>we are brandeis students , this project was part of jbs course for more information contact us to know alot  about us </p>
<hr>
<%= link_to image_tag("avishik.png",alt: "Communiy Tracker" ),'http://rubyonrails.org'%>

<%= link_to image_tag("fatima.png",alt: "Communiy Tracker" ),'http://rubyonrails.org'%>
