<% provide(:title,'About us')%>
<div class="container">  
<row class="span12">  
<div class="well" >
<h4>About us</h4>
<br />
<center><%= link_to image_tag("avishik.png",alt: "Volunteer Hours"),"#"%>

	<%= link_to image_tag("fatima.png",alt: "Volunteer Hours"),"#" %></center>
<div class = "reflection">
	<p>This project was build as a part of our Incubator Project for JBS 2012.<br />
		<br />
	Volunteer Hours is a web application that helps community service organizations to create events, publicize it and track volunteer hours. Volunteers will have an online profile page with all their certified community service activities. The site includes exicting gamification features such as Badges that encourages volunteers to be more active in volunteering and reaching out to the community.<br />
	<br />

	* Easy solution to tracking volunteering hours for community service organizations <br />
	* Gives volunteers a certified profile page that lists all of their volunteering activities<br />
	* Volunteers can add past volunteering activities<br />
	* Adds value to volunteers, community service organizers and volunteerism in general.<br />
	* Think of it as Linked in for Community Service Organizers.<br />
	<br />
	 We have very much enjoyed working on this product; the vision and the philosophy behind the product is very innovative and backed by user data, so we are open sourcing our project to make sure that the possiblity of the concept to prosper still exists.<br />

	If you have any feedback or suggestions about the website, please contact us! <br /><br />

	It was pleasure building this site from scratch ! :)<br /><br />

	Cheers,<br />
	Fatima Abudeeb - abudeebf@brandeis.edu<br />
	Avishek Neupane - avihsek@brandeis.edu<br />
	</p>
	
</div>

</div>
</row>
</div>