<% provide(:title,'About us')%>
<div class="container">  
<row class="span12">  
<div class="well" >
<h4>About us</h4>

<p>we are brandeis students , this project was part of jbs course for more information contact us to know alot  about us </p>
<center><%= link_to image_tag("avishik.png",alt: "Communiy Tracker"),"#"%>

<%= link_to image_tag("fatima.png",alt: "Communiy Tracker"),"#" %></center>
</div>
</row>
</div>