<% provide(:title,'Home')%>
<div class="center hero-unit">

<h1>Welcome to Community Tracker</h1>
<p>If you want to leave your mark as communiy Helper , this your chance!
  </p>
<%= link_to "sign up now to help!",signup_path,class: "btn btn-large btn-primay"%>
<hr>
<%= link_to image_tag("help2.jpg",alt: "Communiy Tracker"),'http://rubyonrails.org'%>
</div>
