<% provide(:title,'Home')%>
<div class="center hero-unit">

<h1>Welcome to Community Tracker</h1>
<p>If you want to leave your mark as communiy Helper , this your chance!
  </p>
<%= link_to "sign up now to help!",signup_path,class: "btn btn-large btn-primay"%>

</div>
