<% provide(:title,'Volunteer Hours users')%>
<div class="container">  
	<row class="span12">  
		 <div class="well span10">
			<h4> Volunteer Hours Search result</h4>
			  <br />
			    <ul class="users">
			      <% if @cat=="People"%>

			        <%= render @users %>
			       <% elsif @cat== "Groups" %>
			        <%= render @groups %>
			       <% elsif  @cat== "Events" %>
			       <%= render @events %>
			       <% end %>
			    </ul>
		</div>
	</row>
</div>


