<li>
	<span class="content"> <%=link_to event.title , event%>

	</span>

	<span class="timestamp">
		posted <%=time_ago_in_words(event.created_at) %> ago in 
		        <%= link_to event.group.name ,event.group%> .
	</span>
</li>