@import "bootstrap";




.reflection
{
  padding: 30px 30px 15px 30px;
  margin-bottom: 10px;
  background-color: #fff;
  h1 {
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: -1px;
    text-align: left;
  }
  p {
    font-size: 12px;
    font-weight: 200;
  }
  h3 {
    font-size: 13px;
    line-height: 1.7em;
    text-align: right;
  }
}

h4{
  font-size: 16px;
  line-height: 1.7em;
  text-align: left;
  color: #754966;
}



input
{
  size: 100;
}
@mixin box_sizing {
    -maz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.nav-tabs{
  font-weight:bold;
  font-size:18px;
}

.well{
   border-top-color:#8c677f;
  border-left-color:#8c677f;
  border-bottom-color:#8c677f;
   border-right-color:#8c677f;
background-color: #d5b1a2;

color:#000;
a{
  color: #000;
  font-weight:bold;

}


}
.firstp
{-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-top-color:#8c677f;
  border-left-color:#8c677f;
  border-bottom-color:#8c677f;
   border-right-color:#8c677f;
background-color: #d5b1a2;
 height:275px;
 overflow: auto;
color:#000;
a{
  color: #000;
  font-weight:bold;

}
}
.textcolor
{
  color: #fff;
}



.navhieght{
  padding-bottom:5px;
  height:35px;
}

.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 30px;
  height:30px;
  background-color: #8c677f;
  background-image: -moz-linear-gradient(top, #97708a, #7b5970);
  background-image: -ms-linear-gradient(top, #97708a, #7b5970);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#97708a), to(#7b5970));
  background-image: -webkit-linear-gradient(top, #97708a, #7b5970);
  background-image: -o-linear-gradient(top, #97708a, #7b5970);
  background-image: linear-gradient(top, #97708a, #7b5970);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97708a', endColorstr='#7b5970', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  ul {
        float:right;
        list-style:none;
        li{
        float: left;
        margin-left: 10px;
       
        a{
           color:#fff;
        }
          }
       }
}
.image-url {
  font-size:1.1em;
}
.form-search
{

  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
}
.dropdown-menu
{
  width:150px;
  background:#8c677f;
  color:#fff;
}
.login{
  width:75%;
}
.hero-unit {
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
 border-top-color:#8c677f;
  border-left-color:#8c677f;
  border-bottom-color:#8c677f;
   border-right-color:#8c677f;
   height:377px;
  h1 {
  margin-top: 30px;
  font-size: 3em;
  line-height: 1;
  color: #8c677f;;
  letter-spacing: -1px;
  text-shadow:#000 1px 1px  1px;
}
p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: #8c677f;;
}
}

.firstpage{
    margin-bottom: 30px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
 border-top-color:#8c677f;
  border-left-color:#8c677f;
  border-bottom-color:#8c677f;
   border-right-color:#8c677f;
   h1 {
  margin-top: 30px;
  font-size: 3em;
  line-height: 1;
  color: #8c677f;;
  letter-spacing: -1px;
  text-shadow:#000 1px 1px  1px;
}
p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: #8c677f;;
}
}
/* universal */
html {
  overflow-y: scroll;
     }
  body{
    padding-top: 60px;
       }
    section {
      overflow: auto;
    }
    textarea {
      resize: vertical;
    }
    .center{
      text-align: center;
     h1{
      margin-bottom: 10px;
    }
}

    /* typography */
    h1,h2,h3,h4,h5,h6{
      Line-height:1;
      
    }
    h1{
      font-size:3em;
      letter-spacing:-2px;
      margin-bottom:30px;
      text-align:center;
      color:#8c677f ;
      
    }
    h2 {
      font-size: 1.7em;
      letter-spacing: -1px;
      margin-bottom: 30px;
      text-align: normal;
      color:#999;
    }
    p {
      font-size:1.1em;
      line-height:1.7em;
      
    }
    

    /* footer */
    footer {
        margin-top: 45px;
        padding-top:5px;
        border-top: 1px solid #d5b1a2;
        color:#8c677f; 
    }
     
   /* micellaneous */
   debug_dump{
    clear: both;
    float: left;
    width: 100%;
    margin-top:45px;
    @include box_sizing;
    
   }

   .links
   {
    &:hover{
  text-decoration: none;
}
   }
   .navbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  color: #e2ab79;
 
  &:hover {
  text-decoration:none;
  background:transparent;

}
}
#brand2{
  float: left;
  margin-right: 10px;
  
text-indent:-999px;

   width:169px;
   height:26px;
  padding:0;
  margin:5px 0 0 0;
}

  .navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
  .navbar .container {
  width: auto;
}
.nav-collapse.collapse {
  height: auto;
}
.navbar {
  color: #e2ab79;
  *position: relative;
  *z-index: 2;
  overflow: visible;
  margin-bottom: 18px;

}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 18px;
  *line-height: 20px;
  color: #8c677f;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
  vertical-align: middle;
  cursor: pointer;
  background-color: #e8ddcb;
  background-image: -moz-linear-gradient(top, #eee6d9, #decfb6);
  background-image: -ms-linear-gradient(top, #eee6d9, #decfb6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee6d9), to(#decfb6));
  background-image: -webkit-linear-gradient(top, #eee6d9, #decfb6);
  background-image: -o-linear-gradient(top, #eee6d9, #decfb6);
  background-image: linear-gradient(top, #eee6d9, #decfb6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee6d9', endColorstr='#decfb6', GradientType=0);
  border-color: #decfb6 #decfb6 #c7ac81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #decfb6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}



.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #8c677f;
}

.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-primary {
  background-color: #ab6a61;
  color:#fff;
  background-image: -moz-linear-gradient(top, #ab6361, #ab7661);
  background-image: -ms-linear-gradient(top, #ab6361, #ab7661);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ab6361), to(#ab7661));
  background-image: -webkit-linear-gradient(top, #ab6361, #ab7661);
  background-image: -o-linear-gradient(top, #ab6361, #ab7661);
  background-image: linear-gradient(top, #ab6361, #ab7661);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab6361', endColorstr='#ab7661', GradientType=0);
  border-color: #ab7661 #ab7661 #7d5342;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ab7661;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  &:hover,
&:active,
 {
  background-color: #ab7661;
  *background-color: #9e6954;
}
}
aside {
  section{
    padding: 10px 0;
    border-top:1px solid ;
  }
}
#error_explanation {
  color: #8c677f;
  ul {
    list-style:none;
    magin: 0 0 18px 0;
  }
}
.field_with_errors{
  @extend.control-group;
  @extend.error;
}
.users{
  list-style:none;
  margin:0;
  li{
    overflow:auto;
    padding:3px 0;
   
  }
}

.navbar .nav {
  li {
  a{
    float: left;
  display: block;
  font-size: 16px;
  font-weight: 200px;
  line-height: 1;
  color: #fff;
  &:hover {
  text-decoration:none;
  background:transparent;
  color:#e2ab79;

  }
  }
  } 
}

.group {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: #000;
  text-style:italic;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

     
  
.nav .nav-header {  
font-size: 18px;  
color:#754966; 

 font-weight:300px;
 a{
  &:hover{
        text-decoration:none;
        background:transparent;
        font-weight:bold;
 }
}
}

