<footer class="footer">
	<small> (C)2012 Fatima & Avishik </small>
		<nav>
			<ul> 
				<li><%= link_to " privacy ", '#'%></li>
				<li><%= link_to " contact us ", '#'%></li>
			</ul>
		</nav>
	</footer>